@import "../../../assets/theme/_var.scss";

.profile_page {
    margin-top: 2.4rem;

    .profile_in {
        padding: 2.4rem;
        border-radius: 1.6rem;
        background-color: $white;

        .profile_sidebar {
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 0.1rem;
                    }

                    a {
                        width: 100%;
                        height: 4.4rem;
                        border-radius: 0.8rem;
                        color: $black;
                        transition: 200ms ease-in-out;
                        display: flex;
                        align-items: center;
                        padding: 0 2rem;

                        &:hover,
                        &.active {
                            color: $white;
                            background-color: $baseclr;
                        }
                    }
                }
            }
        }
    }
}