$basefont: "Outfit", sans-serif;

$whiteF5: #f5f5f5;
$black10: #101010;
$white: white;
$black: black;
$whiteEB: #EBEBEB;

$baseclr: #00B788;
$danger: #f63939;
$productbg: #91c3ff;
$yellowclr: #F2A607;

$shimmer: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 30%, rgba(255, 255, 255, 0.2));